{% extends 'contacts/base.html' %}

{% block title %}MANAGE{% endblock title %}

{% block content %}
{% if object_list %}
  <div class="card w-50 mx-auto">
  {% for each in manage_list %}

    <h5 class="card-header shadow-lg p-3 mb-2 bg-body rounded">{{each.first_name}} {{each.last_name}}</h5>
    <div class="card-body mb-3 p-3 ">
      <h5 class="card-title mb-3">{{each.ph_num}}</h5>
      <a href="{% url 'contacts:update' each.id %}" class="btn btn-outline-info btn-sm ">Update</a>
      <a href="{% url 'contacts:delete' each.id %}" class="btn btn-outline-danger btn-sm ">Delete</a>
    </div>
  {% endfor %}
</div>
{% else %}
    <blockquote class="blockquote text-center">
      <p>No Contacts Found</p>
      <a href="{% url 'contacts:create' %}" class="btn btn-primary">Create New!</a>
    </blockquote>
{% endif %}

  
{% endblock %}